<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div style="text-align:center;">
      <%= image_tag "mouse.png", alt: "Logo", class: "mouseLogo" %>
    </div>
    <div style="max-width: 500px; margin: 100px auto 0 auto; text-align: center;">
      <% if params[:skipped] == "true" %>
        <h2>Thanks!</h2>
      <% else %>
        <h2>Thanks for playing!</h2>
      <% end %>
      <p class="subtext">We'll be in touch.</p>
      <% if params[:expo].present? %>
        <%= link_to "New Entry", expo_entries_path(params[:expo]), class: "btn" %>
      <% else %>
        <%= link_to "New Entry", root_path, class: "btn" %>
      <% end %> 
      </div>
  </body>
</html>
